@model Core.DTOs.forgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}


@if (ViewBag.IsSuccess != null)
{
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="alert alert-success text-center">
            <p>
               رمز عبور شما با موفقیت بازیابی شد ایمیل '@Model.Email' را چک کنید
            </p>
        </div>
    </div>
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page">فراموشی رمز عبور </li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        <header><h2> فراموشی رمز عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassword">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span class="text-warning" asp-validation-for="Email"></span>

                <button type="submit" class="btn btn-info"> بازیابی رمز عبور  </button>

            </form>
        </div>

    </div>
</main>