<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> محمود رضا اسدی | @ViewData["Title"] </title>

    <partial name="_MetaTags" />
    <partial name="_Styles" />

    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <script src="/js/modernizr-custom.js"></script>


    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> درباره من </a>
                                <a href=""> تماس با من </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="loggein ">
                                    <i class="zmdi zmdi-account"></i><a href="/UserPanel"> سلام ،@User.Identity.Name </a>/
                                    <a href="/Logout"> خروج </a>
                                </div>
                            }
                            else
                            {
                                <div class="signin">
                                    <i class="zmdi zmdi-account"></i>
                                    <a href="/Login"> ورود </a> /
                                    <a href="/Register"> ثبت نام </a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </nav>

            @RenderSection("SearchBox", false)
        </div>
    </div>

    <!-- main manu -->
    @await Component.InvokeAsync("CourseGroupComponent")
    <!-- /main manu -->
    <!-- content -->
    <main id="home-page">

        <!-- Render Body-->
        @RenderBody()
        <!-- /Render Body-->

    </main>
    <!-- /content -->
    <!-- footer -->
    <footer>
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <section class="list">
                            <header><h4> محمود رضا اسدی </h4></header>
                            <P>
                                این متن بر اساس دلخواه شما نوشته هواهد. این متن بر اساس دلخواه شما نوشته هواهد شد
                                این متن بر اساس دلخواه شما نوشته هواهد شد.
                                این متن بر اساس دلخواه شما نوشته هواهد شد..
                                این متن بر اساس دلخواه شما نوشته هواهد شد.
                                این متن بر اساس دلخواه شما نوشته هواهد شد.
                            </P>
                        </section>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <section class="list">
                            <header><h4> دسترسی سریع</h4></header>
                            <ul>
                                <li><a href="/"> خانه</a></li>
                                <li><a href="/Course/Filter?getType=all"> دوره ها</a></li>
                                <li><a href="/AboutUs"> درباره من</a></li>
                                <li><a href="/ContactUs">تماس با من </a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <section class="list">
                            <header><h4> ارتباط با ما</h4></header>
                            <ul>
                                <li><a href=""> ایمیل : example@gmail.com </a></li>
                                <li><a href=""> تلفن : 02666666 </a></li>
                                <li><a href=""> تلفن همراه : 0999999999 </a></li>
                                <li><a href=""> کانال تلگرام : محمود رضا اسدی </a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="container">
                <p class="text-center">
                   تمامی حقوق مادی، معنوی و محتوای این سایت متعلق به <a href="https://MahmoodRezaAsadi.com"> MahmoodRezaAsadi.com </a> می باشد
                </p>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
