@page
@model MahmoodRezaAsadi.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "پنل ادمین";
    Layout = "_AdminLayout";
}

<p></p>

<div class="alert alert-info col-md-12 col-xs-12 col-lg-12 col-sm-12">
    <p class="text-center">
        '@User.Identity.Name' خوش آمدید
    </p>
    <p></p>

    <p>
        در پنل مدیریت میتوانید اقدام به کار های زیر کنید:
    </p>
    <p></p>

    <p>
        یک : مدیریت کاربران => از این طریق میتوانید به لیست کاربر های سایت دسترسی داشته باشید.
        و اگر کاربری در کامنت ها بی احترامی کرده باشد آنرا مسدود کنید
    </p>
    <p></p>
    <p>
        دو : گروه های آموزشی => افزودن و ویرایش گروه های آموزشی از طریق
    </p>

    <p></p>
    <p>
        سه : دوره ها => افزودن و ویرایش دوره و افزودن بخش جدید به دوره و همچنین نظارت بر نظرات کاربران در مورد دوره.
    </p>
</div>
