@page
@model MahmoodRezaAsadi.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "پنل ادمین";
    Layout = "_AdminLayout";
}

<p></p>

<div class="alert alert-info col-md-12 col-xs-12 col-lg-12 col-sm-12">
    <p class="text-center">
        '@User.Identity.Name' خوش آمدید
    </p>
    <p></p>

    <p>
        در پنل مدیریت میتوانید اقدام به کار های زیر کنید:
    </p>
    <p></p>

    <p>

    </p>
</div>
