@{
    ViewData["Title"] = "تماس با ما";
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page"> تماس با من </li>
        </ul>
    </nav>
</div>

<div class="container">
    <section class="term-content my-content">
        <header><h1> تماس با من </h1></header>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
                <section class="term-description text-center">
                    <h2>
                        شماره تماس : 09371730908
                    </h2>

                    <h2>
                        ایمیل : MahmoudAsadi1970@gmail.com
                    </h2>
                </section>
            </div>
        </div>
    </section>
</div>

