@{
    ViewData["Title"] = "صفحه اصلی";
}

@section SearchBox {


    <header>
        <a href="" class="logo"><img src="/images/logo.png"></a>
        <h1>  با من میتونی عزت نفست رو ارتقا بدی و از زندگی بهتری برخوردار بشی </h1>
        <h2>  عزت نفست رو ارتقا بده و از زندگیت لذت ببر  </h2>
        <h3>  با کمترین هزینه خودت رو ارتقا بده  </h3>
    </header>
    <div class="search-form">
        <form action="/Course/Filter?">
            <input type="text" name="filter" placeholder="دنبال چه دوره ای هستی ؟">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
}

<div class="container">
    <section class="terms-items">
        <header>
            <h2> جدیدترین دوره های برگزار شده </h2>
            <a href="/Course/Filter?getType=all"> مشاهده همه دوره ها </a>


        </header>
        <div class="row">
            <!--latest courses-->
            @await Component.InvokeAsync("LatestCoursesComponent")

        </div>
    </section>
</div>